{{- if .Values.global.dctmclientinstaller.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: adminconsole-mailapp-properties
  {{- template "configMap.labels" . }}
data:
  mailapp.properties: |-
    #case sensitive
    # not necessary to make all entries, default value will be taken

    #If the below flag is true, then attachments will be separated from mail. Otherwise not.
    shouldSeparateAttachments=false
    #object type for attachments must be dm_document or subtype of dm_document, except dm_message_archive and its subtypes
    objectTypeForAttachments=dm_document
    #If the below flag is true, then msg files will be parsed by mail app. Otherwise not.
    shouldParseMsgFile=true
    #If the below flag is true, then duplicate mails (MSG) can be imported
    shouldSkipDuplicateCheck=false

    {{- if $configFileAppendsValues := .Values.mailapp_properties }} 
    {{ $configFileAppendsValues | indent 4 }} 
    {{- end }}

{{- $configFileOverridesFile := printf "%s/%s" .Values.configFileOverrideFilesDir "mailapp.properties" }}
{{- $configFileMsg0 := printf "\n\n##### Begin lines added from %s\n" $configFileOverridesFile }}
{{- $configFileMsg1 := printf "##### End lines added from %s" $configFileOverridesFile }}
{{- $configFileLinesToAppend := .Files.Get $configFileOverridesFile }}
{{- if $configFileLinesToAppend }}
{{ $configFileMsg0 | indent 4 }}
{{ $configFileLinesToAppend | indent 4 }}
{{ $configFileMsg1 | indent 4 }}
{{- end }}
{{- end }}
