{{- if (or (not (hasKey .Values "vault")) (not (.Values.vault.enabled))) }}
{{- if .Values.deploySecretsFromHelm -}}
  {{- $existing := lookup "v1" "Secret" .Release.Namespace .Values.secretName }}
  {{- if not $existing }}

apiVersion: v1
kind: Secret
metadata:
  name: awg-init-container-secret
  labels: {{ include "appworks-gateway.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
data:
  AWG_GATEWAY_NEW_ADMIN_PASSWORD: {{ .Values.awg.admin.newadminpassword | b64enc }}
  AWG_OTDS_ADMIN_PASSWORD: {{ .Values.otds.admin.password | b64enc }}
  {{- if eq .Values.database.vendor "PostgreSql" }}
  {{- if .Values.database.admin.password }}
  AWG_DB_ADMIN_PASSWORD: {{ .Values.database.admin.password | b64enc }}
  {{- end }}
  {{- end }}
  {{- if hasKey .Values "database" }}
  AWG_DB_PASSWORD: {{ .Values.database.appworksdb.password | b64enc }}
  {{- else }}
  AWG_DB_PASSWORD: {{ .Values.postgres.appworksdb.password | b64enc }}
  {{- end }}
  {{- range .Values.tenants }}
  AWG_{{upper .name }}_GATEWAY_NEW_ADMIN_PASSWORD: {{ .awg.admin.newadminpassword | b64enc }}
  AWG_{{upper .name }}_OTDS_ADMIN_PASSWORD: {{ .otds.admin.password | b64enc }}
  AWG_{{upper .name }}_DB_PASSWORD: {{ .database.appworksdb.password | b64enc }}
  {{- if eq .database.vendor "PostgreSql" }}
  {{- if .database.admin.password }}
  AWG_{{upper .name }}_DB_ADMIN_PASSWORD: {{ .database.admin.password | b64enc }}
  {{- end }}
  {{- end }}
  {{- end }}

{{- end }}
{{- end }}
{{- end }}