{{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
apiVersion: networking.k8s.io/v1
{{ else }}
apiVersion: extensions/v1beta1
{{ end }}
kind: Ingress
metadata:
  name: {{ .Chart.Name }}
  annotations:
{{- if not (.Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress") }}
{{- if .Values.ingress.class }}
    kubernetes.io/ingress.class: {{ .Values.ingress.class }}
{{- end }}
{{- end }}
{{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | squote }}
{{- end }}
{{- if eq .Values.cloudPlatform "Azure" }}
    cert-manager.io/cluster-issuer: letsencrypt
{{- end }}

spec:
{{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
  ingressClassName: {{ .Values.ingress.class }}
{{- end }}
{{- if or (.Values.tls.enable) (eq .Values.global.internalTlsEnable true) }}
  tls:
  - hosts:
    - {{ .Values.ingress.hostShortName | default .Values.global.vpnHostShortName }}.{{ .Values.ingress.hostDomainName | default .Values.global.vpnIngressDomain }}
    secretName: {{ .Values.tls.secretName | default .Values.global.ingressTLSSecret }}
{{- end }}
  rules:
  - host: {{ .Values.ingress.hostShortName | default .Values.global.vpnHostShortName }}.{{ .Values.ingress.hostDomainName | default .Values.global.vpnIngressDomain }}
    http:
      paths:
      {{- if and .Values.global.d2config.enabled (empty (.Values.d2configservice.enable | quote) | ternary true .Values.d2configservice.enable) }}
      {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.d2configservice.path | default .Values.global.d2configWebappName }}*
      {{- else }}
      - path: /{{ .Values.d2configservice.path | default .Values.global.d2configWebappName }}
      {{- end }}
      {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.d2configservice.serviceName }}
            port:
              number: {{ template "d2config.servicePort" . }}
      {{- else }}
        backend:
          serviceName: {{ .Values.d2configservice.serviceName }}
          servicePort: {{ template "d2config.servicePort" . }}
      {{- end }}
      {{- end }}

      {{- if and .Values.global.adminconsole.enabled (empty (.Values.adminConsoleService.enable | quote) | ternary true .Values.adminConsoleService.enable) }}
      {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.adminConsoleService.path | default .Values.global.adminConsoleWebappName }}*
      {{- else }}
      - path: /{{ .Values.adminConsoleService.path | default .Values.global.adminConsoleWebappName }}
      {{- end }}
      {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.adminConsoleService.serviceName }}
            port:
              number: {{ template "adminconsole.servicePort" .  }}
      {{- else }}
        backend:
          serviceName: {{ .Values.adminConsoleService.serviceName }}
          servicePort: {{ template "adminconsole.servicePort" .  }}
      {{- end }}
      {{- end }}

    {{- if and .Values.global.da.enabled (empty (.Values.daService.enable | quote) | ternary true .Values.daService.enable) }}
    {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.daService.path }}*
      {{- else }}
      - path: /{{ .Values.daService.path }}
      {{- end }}
      {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.daService.serviceName }}
            port:
              number: {{ .Values.daService.servicePort }}
      {{- else }}
        backend:
          serviceName: {{ .Values.daService.serviceName }}
          servicePort: {{ .Values.daService.servicePort }}
      {{- end }}
      {{- end }}

      {{- $component := index .Values.global "dctm-workflow-designer" }}
      {{- if and $component.enabled (empty (.Values.workflowDesignerService.enable | quote) | ternary true .Values.workflowDesignerService.enable ) }}
      {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.workflowDesignerService.path }}*
      {{- else }}
      - path: /{{ .Values.workflowDesignerService.path }}
      {{- end }}
      {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.workflowDesignerService.serviceName }}
            port:
              number: {{ .Values.workflowDesignerService.servicePort }}
      {{- else }}
        backend:
          serviceName: {{ .Values.workflowDesignerService.serviceName }}
          servicePort: {{ .Values.workflowDesignerService.servicePort }}
      {{- end }}
    {{- end }}

    {{- if and .Values.global.dfs.enabled (empty (.Values.dfsService.enable | quote) | ternary true .Values.dfsService.enable) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.dfsService.path }}*
    {{ else }}
      - path: /{{ .Values.dfsService.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.dfsService.serviceName }}
            port:
              number: {{ .Values.dfsService.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.dfsService.serviceName }}
          servicePort: {{ .Values.dfsService.servicePort }}
    {{- end }}
    {{- end }}

    {{- $component := index .Values.global "documentum-search" }}
    {{- if and $component.enabled (empty (.Values.documentumSearchService.enable | quote) | ternary true .Values.documentumSearchService.enable ) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.documentumSearchService.path }}*
    {{ else }}
      - path: /{{ .Values.documentumSearchService.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.documentumSearchService.serviceName }}
            port:
              number: {{ .Values.documentumSearchService.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.documentumSearchService.serviceName }}
          servicePort: {{ .Values.documentumSearchService.servicePort }}
    {{- end }}
    {{- end }}

    {{- $component := index .Values.global "dctm-cmis" }}
    {{- if and $component.enabled (empty (.Values.cmisService.enable | quote) | ternary true .Values.cmisService.enable ) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.cmisService.path }}*
    {{ else }}
      - path: /{{ .Values.cmisService.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.cmisService.serviceName }}
            port:
              number: {{ .Values.cmisService.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.cmisService.serviceName }}
          servicePort: {{ .Values.cmisService.servicePort }}
    {{- end }}
    {{- end }}

    {{- if and .Values.global.xda.enabled (empty (.Values.xdaService.enable | quote) | ternary true .Values.xdaService.enable) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.xdaService.path }}*
    {{ else }}
      - path: /{{ .Values.xdaService.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.xdaService.serviceName }}
            port:
              number: {{ .Values.xdaService.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.xdaService.serviceName }}
          servicePort: {{ .Values.xdaService.servicePort }}
    {{- end }}
    {{- end }}


    {{- $component := index .Values.global "dctm-dcc" }}
    {{- if and $component.enabled (empty (.Values.dcc.enable | quote) | ternary true .Values.dcc.enable ) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.dcc.consul.uipath }}*
    {{ else }}
      - path: /{{ .Values.dcc.consul.uipath }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ default "ImplementationSpecific" .Values.dcc.pathType }}
        backend:
          service:
            name: {{ .Values.dcc.prefix | default .Values.global.dccPrefix }}-{{ .Values.dcc.consul.prefix }}-service
            port:
              number: {{ .Values.dcc.consul.service.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.dcc.prefix | default .Values.global.dccPrefix }}-{{ .Values.dcc.consul.prefix }}-service
          servicePort: {{ .Values.dcc.consul.service.servicePort }}
    {{- end }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.dcc.consul.backendpath }}*
    {{ else }}
      - path: /{{ .Values.dcc.consul.backendpath }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ default "ImplementationSpecific" .Values.dcc.pathType }}
        backend:
          service:
            name: {{ .Values.dcc.prefix | default .Values.global.dccPrefix }}-{{ .Values.dcc.consul.prefix }}-service
            port:
              number: {{ .Values.dcc.consul.service.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.dcc.prefix | default .Values.global.dccPrefix }}-{{ .Values.dcc.consul.prefix }}-service
          servicePort: {{ .Values.dcc.consul.service.servicePort }}
    {{- end }}


    {{- $component := index .Values.global "dctm-dcc" }}
    {{- if and $component.enabled (empty (.Values.dcc.syncagent.enabled | quote) | ternary true .Values.dcc.syncagent.enabled ) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.dcc.syncagent.path }}*
    {{ else }}
      - path: /{{ .Values.dcc.syncagent.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ default "ImplementationSpecific" .Values.dcc.pathType }}
        backend:
          service:
            name: {{ .Values.dcc.prefix | default .Values.global.dccPrefix }}-{{ .Values.dcc.syncagent.prefix }}-service
            port:
              number: {{ .Values.dcc.syncagent.service.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.dcc.prefix | default .Values.global.dccPrefix }}-{{ .Values.dcc.syncagent.prefix }}-service
          servicePort: {{ .Values.dcc.syncagent.service.servicePort }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if eq (.Values.lssftpService.enable | default .Values.global.lss.enabled) true }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.lssftpService.path }}*
    {{ else }}
      - path: /{{ .Values.lssftpService.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.lssftpService.serviceName }}
            port:
              number: {{ template "lss.servicePort" . }}
    {{- else }}
        backend:
          serviceName: {{ .Values.lssftpService.serviceName }}
          servicePort: {{ template "lss.servicePort" . }}
    {{- end }}
    {{- end }}

    {{- if and .Values.global.records.enabled (empty (.Values.recordsService.enable | quote) | ternary true .Values.recordsService.enable) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /records*
    {{ else }}
      - path: /records
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.recordsService.serviceName }}
            port:
              number: {{ .Values.recordsService.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.recordsService.serviceName }}
          servicePort: {{ .Values.recordsService.servicePort }}
    {{- end }}
    {{- end }}

    {{- $component := index .Values.global "dctm-dms" }}
    {{- if and $component.enabled (empty (.Values.dmsService.enable | quote) | ternary true .Values.dmsService.enable ) }}
    {{ if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.dmsService.path }}*
    {{ else }}
      - path: /{{ .Values.dmsService.path }}
    {{ end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.dmsService.serviceName }}
            port:
              number: {{ .Values.dmsService.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.dmsService.serviceName }}
          servicePort: {{ .Values.dmsService.servicePort }}
    {{- end }}
    {{- end }}

    {{- if and .Values.global.otds.enabled (empty (.Values.otdsws.enable | quote) | ternary true .Values.otdsws.enable) }}
    {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.otdsws.path }}*
    {{- else }}
      - path: /{{ .Values.otdsws.path }}
    {{- end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.otdsws.serviceName }}
            port:
              number: {{ .Values.otdsws.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.otdsws.serviceName }}
          servicePort: {{ .Values.otdsws.servicePort }}
    {{- end }}
    {{- end }}

    {{- $component := index .Values.global "dctm-assap" }}
    {{- if and $component.enabled (empty (.Values.assapservice.enable | quote) | ternary true .Values.assapservice.enable) }}
    {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.assapservice.path }}*
    {{- else }}
      - path: /{{ .Values.assapservice.path }}
    {{- end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.assapservice.serviceName }}
            port:
              number: {{ .Values.assapservice.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.assapservice.serviceName }}
          servicePort: {{ .Values.assapservice.servicePort }}
    {{- end }}
    {{- end }}

    {{- $component := index .Values.global "dctm-cssap" }}
    {{- if and $component.enabled (empty (.Values.cssapservice.enable | quote) | ternary true .Values.cssapservice.enable) }}
    {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.cssapservice.path }}*
    {{- else }}
      - path: /{{ .Values.cssapservice.path }}
    {{- end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.cssapservice.serviceName }}
            port:
              number: {{ .Values.cssapservice.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.cssapservice.serviceName }}
          servicePort: {{ .Values.cssapservice.servicePort }}
    {{- end }}
    {{- end }}

    {{- $component := index .Values.global "dctm-assap-ilm" }}
    {{- if and $component.enabled (empty (.Values.assapilmservice.enable | quote) | ternary true .Values.assapilmservice.enable) }}
    {{- if eq .Values.cloudPlatform "aws" }}
      - path: /{{ .Values.assapilmservice.path }}*
    {{- else }}
      - path: /{{ .Values.assapilmservice.path }}
    {{- end }}
    {{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
        pathType: {{ .Values.ingress.pathType }}
        backend:
          service:
            name: {{ .Values.assapilmservice.serviceName }}
            port:
              number: {{ .Values.assapilmservice.servicePort }}
    {{- else }}
        backend:
          serviceName: {{ .Values.assapilmservice.serviceName }}
          servicePort: {{ .Values.assapilmservice.servicePort }}
    {{- end }}
    {{- end }}

{{- if .Values.extraPaths }}
{{ toYaml .Values.extraPaths | indent 6 }}
{{- end }}

