# Default values for xplore.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
### General ###
serviceAccount:
  createServiceAccount:
  serviceAccountName:

ingress:
  name:
  domain:
  hostName:
  enable:

### Service ###
# Please keep the same service name as the old deployment when do helm upgrading process.
service:
  indexserver:
    name:
    port:
    targetPort:
  indexagent:
    name:
    port:
    targetPort:
  cps:
    name:
    port:
    targetPort:

### service Annotations. ex:- AWS Load Balancer specific service annotations can be specified here ###
indexServerServiceAnnotations: {}
indexAgentServiceAnnotations: {}

### Docker Image ###
image:
  repository:
  pullPolicy:
  pullSecrets:
  indexserver:
    name:
    tag:
  indexagent:
    name:
    tag:
  cps:
    name:
    tag:

### Index Server ###
indexserver:
  persistLogs:
  
  #To use blow extraEnv paramters with #, plaese uncomment them.
  extraEnv: 
  #  PASSWORD: password
  #  SCRIPT_DIR: /root/xPlore/rtdata/script
  #  SCRIPT_INIT: init.sh
  #  SCRIPT_BEFORE_START: before-start.sh
  #  SCRIPT_AFTER_START: after-start.sh
    
  livenessProbe:
    initialDelay: 90
    timeout: 1
    period: 60
    failure: 6
  readinessProbe:
    initialDelay: 90
    timeout: 1
    period: 10
    failure: 3

### Index Agent ###
indexagent:
  docbaseName:
  #Enter the Documentum Server installation owner user name
  docbaseUser: dmadmin
  persistLogs:
  #If not use secret to pass through password, please uncomment docbasePassword and registryPassword
  #Enter the Documentum Server installation owner password
  #docbasePassword: password
  #registryPassword: password
  
  #If not use configmap to pass through below properties, please uncomment them
  #brokerHost: xpl-dbr.default.svc.cluster.local
  #brokerPort: 1489
  #registryName: docbase1
  #registryUser: dm_bof_registry
  
  #To use blow extraEnv paramters with #, please uncomment them.   
  extraEnv: 
    FORCE_CREATE_OBJECT: true
  #  SCRIPT_DIR: /root/xPlore/rtdata/script
  #  SCRIPT_INIT: init.sh
  #  SCRIPT_BEFORE_START: before-start.sh
  #  SCRIPT_AFTER_START: after-start.sh
  
  livenessProbe:
    initialDelay: 150
    timeout: 1
    period: 60
    failure: 6
  readinessProbe:
    initialDelay: 150
    timeout: 1
    period: 10
    failure: 3

### xPlore CPS ###
cps:
  replicaCount: 2
  persistLogs:
  
  #To use blow extraEnv paramters with #, please uncomment them.  
  extraEnv: 
    REGISTER_CPS_DELAY: 90
  #  ESS_PASSWORDï¼š password
  #  SCRIPT_DIR: /root/xPlore/rtdata/script
  #  SCRIPT_INIT: init.sh
  #  SCRIPT_BEFORE_START: before-start.sh
  #  SCRIPT_AFTER_START: after-start.sh
  
  livenessProbe:
    initialDelay: 60
    timeout: 1
    period: 60
    failure: 6
  readinessProbe:
    initialDelay: 60
    timeout: 1
    period: 10
    failure: 3

    
### Vault Config Start ###
vault:
  enable:
  vaultConfigmap:
  vaultConfigMountPath:
  PVCName:
  binaryVolumeMountPath:

### End Vault Config ###

### Backup xPlore Federation ###
### cronjob Schedule Config. default - every Saturday at 10:00 PM ###
XDBbackup:
  enable:
  maxIncrementalBackupsCount: 8
  scheduleCronJob: "0 22 * * 6"
  PVCisExist:
  PVCClaimName:
  PVSize: 1Gi

### End Backup xPlore Federation ###

### Persistent Volume ###
volumeMounts:
  subPath: "."  
persistentVolume:
  # possible value: true | false . isExist: true means using an external volume instead of default one nested in xPlore chart
  isExist: false
  claimName:
  # If isExist is true, then accessModes,size,storageClass will not be effective.
  accessModes: ReadWriteMany
  size: 1Gi
  storageClass:
  ### AWS related parameters ###
  awsEFS: false
  awsEFSCSIDriver:
  awsEFSCSIHandle: 
  ### Below parameter is used to provide aws PV name if AWS EFS CSI is used ###
  awsEFSCSIPvName: 
customVolume:
  customMountPath: 
  customClaimName: 
  
newRelic:
  # Possible value: true | false. When set to true, you must set values of 'appNameSuffix' and 'licenseKey'.
  enable:
  # Please ensure your application name is unique. xPlore will construct application name as '$NODE_NAME'-'$appNameSuffix' in newrelic.yml
  appNameSuffix:
  licenseKey: 
  # If your agent is behind a LAN and needs proxy to access external network, you must set the proxy properties.
  proxyHost:
  proxyPort:
  proxyScheme:
  configMap:
    # Possible value: true | false. If using an existing configmap for new relic, then licenseKey and proxy needn't input and those properties should be included in the existing configmap.
    isExist:
    name:
    key:
      newRelicConfigKey: newrelic.yml

### Resources ###
resources:
  indexserver:
    requests:
      memory: "400Mi"
      cpu: "100m"
    limits:
      memory: "6144Mi"
      cpu: "2000m"
  indexagent:
    requests:
      memory: "200Mi"
      cpu: "100m"
    limits:
      memory: "4096Mi"
      cpu: "500m"
  cps:
    requests:
      memory: "400Mi"
      cpu: "200m"
    limits:
      memory: "6144Mi"
      cpu: "2500m"

### Currently we support using cs-secrets to set some IndexAgent Env password properties ###
### Please replace the secrets.name and keys with the actual value. ###
# possible value: true | false
useSecrets: true
secrets:
  cs:
    name:
    key: 
      docbasePassword: installOwnerPassword
      registryPassword: globalRegistryPassword

### dfc.properties configmap support ###
# possible value: true | false
useConfigMap: true
configMap:
  cs:
    name:
    key: 
      dfcPropertiesKey: dfc.properties
# nodeSelector: {}

# tolerations: []

# affinity: {}

