---
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imagePullSecrets
##
# global:
#   imagePullSecrets:
#     - myRegistryKeySecretName

# Which port should solr listen on
port: 8983

# Number of solr instances to run
replicaCount: 2

# Settings for solr java memory
javaMem: "-Xms4g"

# Set the limits and requests on solr pod resources
resources: {}

fullnameOverride: solr

# Extra environment variables - allows yaml definitions
extraEnvVars:
  - name: "ZK_ROOT"
    value: "/solr/001"
  - name: "USE_FULL_HOSTNAME"
    value: "true"

# Specify the initial script file name here to be executed before starting Solr
# The file is located relative to the solr chart root folder
initScript: ""

# Sets the termination Grace period for the solr pods
# This can take a while for shards to elect new leaders
terminationGracePeriodSeconds: 180


# Solr image settings
image:
  repository: 
  name: ot-dctm-solr
  tag: 23.4.0000.0179
  pullPolicy:
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  # pullSecrets:
  #   - myRegistryKeySecretName

# Solr pod liveness
livenessProbe:
  initialDelaySeconds: 45
  periodSeconds: 10

# Solr pod readiness
readinessProbe:
  initialDelaySeconds: 15
  periodSeconds: 5

# Annotations to apply to the solr pods
podAnnotations: {}

# Affinity group rules or the solr pods
affinity: {}

# Tolerations for pod assignment
tolerations: []

# Update Strategy for solr pods
updateStrategy:
  type: "RollingUpdate"

# The log level of the Solr instances
logLevel: "INFO"

# Solr pod disruption budget
podDisruptionBudget:
  maxUnavailable: 1

## Use an alternate scheduler, e.g. "stork".
## ref: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
##
# schedulerName:

# Configuration for the solr PVC
volumeClaimTemplates:
  storageClassName:
  storageSize: 8Gi
  accessModes:
    - "ReadWriteOnce"

#To configure solr as client to zookeeper.
solr:
  zkCredsAndAcls:
    # Build the SOLR_ZK_CREDS_AND_ACLS JVM args from these values
    clientSecure: true
    sslTrustStoreLocation:
    sslTrustStorePassword:
    sslProtocol: "TLSv1.3"

ssl:
  enabled: false
  certificateMountPath: /opt/dctm/certificate
  protocol: TLS
  enabledProtocols: TLSv1.3
  keyStore:
  keyStorePassword:
  keyStoreType:
  keyAlias: commontls
  keyPassword:
  trustStore:
  trustStorePassword:
secrets:
  cs:
    name:

# Configuration for the solr service
service:
  name: ds-solr
  type: NodePort #ClusterIP
  annotations: {}

#Configuration and Setting for solr backup pvc
backup:
  enabled: false
  persistence:
    accessMode: ReadWriteMany
    storageClassName:
    storageSize: 5Gi

# Configuration for the solr prometheus exporter
exporter:
  image: {}
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  #   pullSecrets:
  #     - myRegistryKeySecretName
  enabled: false # Deploy the exporter
  configFile: "/opt/solr/contrib/prometheus-exporter/conf/solr-exporter-config.xml" # The config file to point the exporter to
  updateStrategy: {}
  podAnnotations: {} # Annotations to apply to the exporter pod
  resources: {} # Resource limits for the exporter
  port: 9983 # The port to run the exporter on
  threads: 7 # The number of threads the exporter uses to query solr
  livenessProbe: # Liveness configuration for exporter pod
    initialDelaySeconds: 20
    periodSeconds: 10
  readinessProbe: # Readiness configuration for exporter pod
    initialDelaySeconds: 15
    periodSeconds: 5
  service:
    type: "ClusterIP"
    annotations: {}
serviceAccount:
  createserviceaccount: true
  serviceAccountName:
newrelic:
  enable:
  app_name: DCTM_SOLR_APP
