apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix }}-db-secret
type: Opaque
data:
{{- if eq (empty (.Values.configMap.vault.enabled) | ternary .Values.global.isVaultEnabled .Values.configMap.vault.enabled) true }}
   vault-key: {{ default "" .Values.configMap.database.dbunencryptedpassword | b64enc | quote }}
{{- else }}
   db-pass: {{ default "" .Values.configMap.database.dbunencryptedpassword | b64enc | quote }}
{{- end }}   
{{- if and   (eq (empty (.Values.configMap.database.db_ssl) | ternary .Values.global.db_ssl .Values.configMap.database.db_ssl) true) (eq (.Values.configMap.database.db_type | default .Values.global.dbtype) "postgres")}}  
   dbrootca.crt: {{ default "" .Values.configMap.database.db_ssl_rootcert | b64enc | quote   }}
   
{{ end }}