apiVersion: v1
kind: ConfigMap
metadata:  
  name: {{ .Values.deployment.name }}-logging-configmap
data:
  log4j2.properties: |
    rootLogger.level={{ .Values.logging.rootloggerLevel }}
    monitorInterval={{ .Values.logging.monitorInterval }}
    appenders=console,file,A1,F1,WEBDAV,RESPONSE,FILE_TRACE
    |
    appender.console.type=Console
    appender.console.name=STDOUT
    appender.console.layout.type=PatternLayout
    appender.console.layout.pattern=%-4r [%t] %-5p %c %x - %m%n
    |
    appender.file.type=RollingFile
    appender.file.name=fileRoll
    appender.file.fileName=/opt/Documentum/logs/wdk.log
    appender.file.filePattern=/opt/Documentum/logs/wdk-backup-%d{MM-dd-yy-HH-mm-ss}-%i.log
    appender.file.layout.type=PatternLayout
    appender.file.layout.pattern=%-4r [%t] %-5p %c %x - %m%n
    appender.file.policies.type=Policies
    appender.file.policies.size.type=SizeBasedTriggeringPolicy
    appender.file.policies.size.size={{ .Values.logging.appenderFilePoliciesSizeSize }}
    appender.file.strategy.type=DefaultRolloverStrategy
    appender.file.strategy.max={{ .Values.logging.appenderFileStrategyMax }}
    |
    appender.A1.type=Console
    appender.A1.name=A1Console
    appender.A1.filter.threshold.type=ThresholdFilter
    appender.A1.filter.threshold.level={{ .Values.logging.appenderA1FilterThresholdLevel }}
    appender.A1.layout.type=PatternLayout
    appender.A1.layout.pattern=%d{ABSOLUTE} %5p [%t] %c - %m%n
    |
    appender.F1.type=RollingFile
    appender.F1.name=F1Roll
    appender.F1.fileName=/opt/Documentum/logs/log4j.log
    appender.F1.filePattern=/opt/Documentum/logs/log4j-backup-%d{MM-dd-yy-HH-mm-ss}-%i.log
    appender.F1.layout.type=PatternLayout
    appender.F1.layout.pattern=%d{ABSOLUTE} %5p [%t] %c - %m%n
    appender.F1.policies.type=Policies
    appender.F1.policies.size.type=SizeBasedTriggeringPolicy
    appender.F1.policies.size.size={{ .Values.logging.appenderF1PoliciesSizeSize }}
    appender.F1.strategy.type=DefaultRolloverStrategy
    appender.F1.strategy.max={{ .Values.logging.appenderF1StrategyMax }}
    |
    appender.WEBDAV.type=RollingFile
    appender.WEBDAV.name=WEBDAVRoll
    appender.WEBDAV.fileName=/opt/Documentum/logs/WEBDAV_log.txt
    appender.WEBDAV.filePattern=/opt/Documentum/logs/WEBDAV_log.%d{ddMMyyyy}-%i.log
    appender.WEBDAV.layout.type=PatternLayout
    appender.WEBDAV.layout.pattern=%d{HH\:mm\:ss,SSS} %10C - %m%n
    appender.WEBDAV.policies.type=Policies
    appender.WEBDAV.policies.time.type=TimeBasedTriggeringPolicy
    appender.WEBDAV.policies.time.interval={{ .Values.logging.appenderWebdavPoliciesTimeInterval }}
    appender.WEBDAV.policies.time.modulate={{ .Values.logging.appenderWebdavPoliciesTimeModulate }}
    appender.WEBDAV.policies.size.type=SizeBasedTriggeringPolicy
    appender.WEBDAV.policies.size.size={{ .Values.logging.appenderWebdavPoliciesSizeSize }}
    appender.WEBDAV.strategy.type=DefaultRolloverStrategy
    appender.WEBDAV.strategy.max={{ .Values.logging.appenderWebdavStrategyMax }}
    |
    appender.RESPONSE.type=RollingFile
    appender.RESPONSE.name=RESPONSERoll
    appender.RESPONSE.fileName=/opt/Documentum/logs/Response_log.txt
    appender.RESPONSE.filePattern=/opt/Documentum/logs/Response_log.%d{ddMMyyyy}-%i.log
    appender.RESPONSE.layout.type=PatternLayout
    appender.RESPONSE.layout.pattern=%d{HH\:mm\:ss,SSS} - %m%n
    appender.RESPONSE.policies.type=Policies
    appender.RESPONSE.policies.time.type=TimeBasedTriggeringPolicy
    appender.RESPONSE.policies.time.interval={{ .Values.logging.appenderResponsePoliciesTimeInterval }}
    appender.RESPONSE.policies.time.modulate={{ .Values.logging.appenderResponsePoliciesTimeModulate }}
    appender.RESPONSE.policies.size.type=SizeBasedTriggeringPolicy
    appender.RESPONSE.policies.size.size={{ .Values.logging.appenderResponsePoliciesSizeSize }}
    appender.RESPONSE.strategy.type=DefaultRolloverStrategy
    appender.RESPONSE.strategy.max={{ .Values.logging.appenderResponseStrategyMax }}
    |
    appender.FILE_TRACE.type=RollingFile
    appender.FILE_TRACE.name=FILE_TRACERoll
    appender.FILE_TRACE.fileName=/opt/Documentum/logs/trace.log
    appender.FILE_TRACE.filePattern=/opt/Documentum/logs/trace-backup-%d{MM-dd-yy-HH-mm-ss}-%i.log
    appender.FILE_TRACE.layout.type=PatternLayout
    appender.FILE_TRACE.layout.pattern=%d{ABSOLUTE} [%t] %m%n
    appender.FILE_TRACE.policies.type=Policies
    appender.FILE_TRACE.policies.size.type=SizeBasedTriggeringPolicy
    appender.FILE_TRACE.policies.size.size={{ .Values.logging.appenderFileTracePoliciesSizeSize }}
    appender.FILE_TRACE.strategy.type=DefaultRolloverStrategy
    appender.FILE_TRACE.strategy.max={{ .Values.logging.appenderFileTraceStrategyMax }}
    |
    loggers = webdavLogger,namespaceLogger,responseLogger,tracingLogger,debugLogger,webLogger
    |
    logger.webdavLogger.name = com.emc.documentum.webdav
    logger.webdavLogger.level = {{ .Values.logging.loggerWebdavloggerLevel }}
    logger.webdavLogger.appenderRef.WEBDAV.ref = WEBDAVRoll
    |
    logger.namespaceLogger.name = com.documentum.ei
    logger.namespaceLogger.level = {{ .Values.logging.loggerWebdavloggerLevel }}
    logger.namespaceLogger.appenderRef.WEBDAV.ref = WEBDAVRoll
    |
    logger.responseLogger.name = WEBDAV-RESPONSE
    logger.responseLogger.level = {{ .Values.logging.loggerResponseloggerLevel }}
    logger.responseLogger.appenderRef.RESPONSE.ref = RESPONSERoll
    |
    logger.tracingLogger.name = tracing
    logger.tracingLogger.level = {{ .Values.logging.loggerTracingloggerLevel }}
    logger.tracingLogger.additivity = {{ .Values.logging.loggerTracingloggerAdditivity }}
    logger.tracingLogger.appenderRef.FILE_TRACE.ref = FILE_TRACERoll
    |
    logger.debugLogger.name = com.documentum.debug
    logger.debugLogger.level = {{ .Values.logging.loggerDebugloggerLevel }}
    |
    logger.webLogger.name = com.documentum.web
    logger.webLogger.level = {{ .Values.logging.loggerWebloggerLevel }}
    |
    rootLogger.appenderRef.console.ref=STDOUT
    rootLogger.appenderRef.file.ref=fileRoll