apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.service.name }}-synctool-pvc
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - {{ .Values.persistence.accessModes }}
  resources:
    requests:
      storage: 2Gi
  storageClassName: {{ .Values.persistence.storageClass | default .Values.global.rwmStorage }}