apiVersion: apps/v1
kind: Deployment
metadata:
   name: {{ .Values.service.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.service.name }}
      name: {{ .Chart.Name }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Values.service.name }}
        name: {{ .Chart.Name }}
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.serviceAccountName | default .Values.global.documentumserviceaccount }}
      {{- if (empty (.Values.image.pullSecrets | quote) | ternary .Values.global.pullSecretName .Values.image.pullSecrets) }}
      imagePullSecrets:
        - name: {{ .Values.image.pullSecrets | default .Values.global.pullSecretName }}
      {{ end }}
      containers:
      - name: {{ .Values.service.name }}
        image: {{ .Values.image.repository | default .Values.global.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.pullPolicyType }}
        env:
          - name: ACTIVEMQ_BROKER_URL
            value: {{ .Values.activemq.broker_url | quote }}
          - name: ACTIVEMQ_USER
            valueFrom:
              secretKeyRef:
                name: {{ .Values.service.name }}-secret
                key: activemqUser
          - name: ACTIVEMQ_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.service.name }}-secret
                key: activemqPassword
          - name: BOF_REGISTRY_USER_PASSWORD
            {{- if eq $.Values.cs.useCSSecrets true }}
            valueFrom:
              secretKeyRef:
                name: {{ .Values.cs.secretName | default .Values.global.csSecrets }}
                key: globalRegistryPassword
            {{- else }}
            valueFrom:
              secretKeyRef:
                name: {{ .Values.service.name }}-secret
                key: globalRegistryPassword
            {{- end }}
          - name: DCIS_MQ_NAME
            value: {{ .Values.activemq.queue_name | quote }}
          - name: DCIS_AMQ_FOLDER_QUEUE_NAME
            value: {{ .Values.activemq.folder_queue_name | quote }}
          - name: IS_VAULT_ENABLED
            value: {{ (empty (.Values.vault.enable | quote) | ternary .Values.global.isVaultEnabled .Values.vault.enable) | quote}}
          - name: DFC_DSIS_ENABLED
            value: {{ (empty (.Values.vault.enable | quote) | ternary .Values.global.isVaultEnabled .Values.vault.enable) | quote}}
          - name: DOCBASE_NAME
            value: {{ .Values.docbaseName | default .Values.global.docbase | quote }}
          - name: DOCBASE_USER
            value: {{ .Values.docbaseUser | default .Values.global.installOwnerUsername | quote }}                        
          - name: DOCBASE_PASSWORD
            {{- if eq $.Values.cs.useCSSecrets true }}
            valueFrom:
              secretKeyRef:
                name: {{ $.Values.cs.secretName | default $.Values.global.csSecrets }}
                key: installOwnerPassword
            {{- else }}
            valueFrom:
              secretKeyRef:
                name: {{ $.Values.service.name }}-secret
                key: docbasePassword
            {{- end }}
          - name: CSAI_EMBEDDING_SERVICE_URL
            value: {{ .Values.csai.embedding_svc_url | quote}}
          - name: CSAI_CHAT_SERVICE_URL
            value: {{ .Values.csai.chat_svc_url | quote}}
          - name: PROXY_ENABLE
            value: {{ .Values.proxy.enable | default .Values.global.proxy.enabled | quote }}
          - name: PROXY_HOST
            value: {{ .Values.proxy.host | default .Values.global.proxy.host | quote}}
          - name: PROXY_PORT
            value: {{ .Values.proxy.port | default .Values.global.proxy.port | quote }}
          - name: NO_PROXY
            value: {{ .Values.proxy.noproxy | default (include "formatNoProxy" . ) | quote }}
          - name: OAUTH_ENABLED
            value: {{ .Values.otds.enabled | quote}}
          - name: OAUTH_CLIENT_ID
            value: {{ .Values.otds.oauth_client_id | quote }}
          - name: OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ .Values.service.name }}-secret
                key: oAuthClientSecret
          - name: OAUTH_TOKEN_ENDPOINT_URL
            value: {{ .Values.otds.oauth_token_url }}
          - name: PARSER_SERVICE_URL
            valueFrom:
              configMapKeyRef:
                name: parser-configmap
                key: parser.server.url
          - name: FETCHER_SERVICE_URL
            valueFrom:
              configMapKeyRef:
                name: fetcher-configmap
                key: fetcher.server.url
          - name: SINGLE_HELM_ENABLED
            value: {{ .Values.cs.useCSSecrets  | quote }}
          - name: ACS_HOST
            value: {{ .Values.cs.acsServiceName | default .Values.global.jmsServiceName | quote }}
          - name: ACS_PORT
            value: {{ .Values.cs.acsServicePort | quote }}
          {{- if (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) }}
          - name: NEWRELIC_ENABLE
            value: {{ (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) | quote }}
          - name: NEWRELIC_APP_NAME
            value: {{ .Values.newrelic.app_name }}.{{ .Release.Namespace }}
          - name: NEWRELIC_PROXY_HOST
            value: {{ .Values.newrelic.proxy_host | default .Values.global.newrelicProxyHost }}
          - name: NEWRELIC_PROXY_PROTOCOL
            value: {{ .Values.newrelic.proxy_protocol | default .Values.global.newrelicProxyProtocol }}
          - name: NEWRELIC_PROXY_PORT
            value: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort | quote }}
          - name: NEWRELIC_LICENSE_KEY
            value: {{ .Values.newrelic.license_key }}
          {{- end }}
        ports:
        - containerPort: {{ .Values.actuatorHttpPort }}
          name: port
        resources:
          requests:
            memory: {{ .Values.resources.requests.memory | quote  }}
            cpu: {{ .Values.resources.requests.cpu | quote  }}
          limits:
            memory: {{ .Values.resources.limits.memory | quote  }}
            cpu: {{ .Values.resources.limits.cpu | quote  }} 
        volumeMounts:
        - name: dcis-logs
          mountPath: /home/dmadmin/dcis/logs
          subPath: logs
        - name: saas-proxy-logs
          mountPath: /home/dmadmin/dcis/saas-proxy-client/logs
          subPath: logs  
        - name: dcis-configmap
          mountPath: /home/dmadmin/dcis/application.properties
          subPath: application.properties
        - name: dcis-configmap
          mountPath: /home/dmadmin/dcis/log4j2.properties
          subPath: log4j2.properties
        - name: dcis-configmap
          mountPath: /home/dmadmin/dcis/logback-spring.xml
          subPath: logback-spring.xml
        - name: dfc-configmap
          mountPath: /home/dmadmin/dcis/dfc.properties
          subPath: dfc.properties
        - name: saasproxy-configmap
          mountPath: /home/dmadmin/dcis/saas-proxy-client/config.properties
          subPath: config.properties
        - name: saasproxy-configmap
          mountPath: /home/dmadmin/dcis/saas-proxy-client/log4j2.xml
          subPath: log4j2.xml
          
        {{- if (empty (.Values.vault.enable | quote) | ternary .Values.global.isVaultEnabled .Values.vault.enable )}}
        - mountPath: /opt/dctm_docker/vault_config
          name: vault-volume
        - mountPath: /opt/dctm_docker/dsis_binary_volume
          name: dsis-binary-volume
          subPath: dsis-binary
        {{- end }}
        {{- if (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) }}
        - name: newrelic-config-map
          mountPath: /opt/newrelic/external/newrelic.yml
          subPath: newrelic.yml
        {{- end }}

        {{- if (.Values.livenessProbe.enabled) }}
        livenessProbe:
          httpGet:
            scheme: {{ .Values.livenessProbe.scheme }}
            path: {{ .Values.livenessProbe.probeUrl }}
            {{- if eq .Values.livenessProbe.scheme "HTTP"}}
            port: {{ .Values.actuatorHttpPort }}
            {{- end }}
            {{- if eq .Values.livenessProbe.scheme "HTTPS"}}
            port: {{ .Values.actuatorHttpsPort }}
            {{- end }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          timeoutSeconds: 10
        {{- end }}
        {{- if (.Values.livenessProbe.enabled) }}
        startupProbe:
          httpGet:
            path: /actuator/health
            port: {{ .Values.actuatorHttpPort }}
          failureThreshold: 30
          periodSeconds: 10
        {{- end }}
      volumes:
        - name: dcis-logs
          emptyDir: {}
        - name: saas-proxy-logs
          emptyDir: {}  
        - name: dcis-configmap
          configMap:
            name: {{ .Values.service.name }}-dcis-configmap
            items:
              - key: application.properties
                path: application.properties
              - key: dfc_log4j_properties
                path: log4j2.properties
              - key: logback-spring.xml
                path: logback-spring.xml
        - name: dfc-configmap
          configMap:
            name: {{ .Values.service.name }}-dfc-configmap
            items:
              - key: dfc.properties
                path: dfc.properties
        - name: saasproxy-configmap
          configMap:
            name: {{ .Values.service.name }}-saasproxy-configmap
            items:
              - key: config.properties
                path: config.properties
              - key: log4j2.xml
                path: log4j2.xml
        {{- if (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) }}
        - name: newrelic-config-map
          configMap:
            name: dcis-newrelic-config
            items:
              - key: newrelic.yml
                path: newrelic.yml
        {{- end }}
        {{- if (empty (.Values.vault.enable | quote) | ternary .Values.global.isVaultEnabled .Values.vault.enable )}}
        - name: dsis-binary-volume
          persistentVolumeClaim:
            claimName: dsis-binary-pvc
        - name: vault-volume
          configMap:
            name: {{ .Values.vault.vault_configmap }}
        {{- end }}
