apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.service.name }}-saasproxy-configmap
data:
  config.properties: |
    websocket.endpoint= {{ .Values.saasproxy.websocketEndpoint }}
    websocket.auth= {{ .Values.saasproxy.websocketAuth }}
    websocket.connections.per.client= {{ .Values.saasproxy.websocketConnections }}

    # server urls config. Base URL of the endpoint.
    servers.auth= {{- include "dcis.saasproxy.callbacksAuthEndpoint.baseUrl" . }}
    servers.perms= {{- include "dcis.saasproxy.callbacksPermsEndpoint.baseUrl" . }}
    servers.dctmauth= {{- include "dcis.saasproxy.callbacksDctmAuthEndpoint.baseUrl" . }}

    #auth.key=your-auth-key
    callbacks.keys=auth,perms,dctmauth

    callbacks.auth.serverRef=auth
    callbacks.auth.path= {{- include "dcis.saasproxy.callbacksAuthEndpoint.urlPath" . }}
    callbacks.auth.method=get
    callbacks.auth.headers=content-type,authorization

    callbacks.perms.serverRef=perms
    callbacks.perms.path= {{- include "dcis.saasproxy.callbacksPermsEndpoint.urlPath" . }}
    callbacks.perms.method=*
    callbacks.perms.headers=content-type,authorization
    
    callbacks.dctmauth.serverRef=dctmauth
    callbacks.dctmauth.path=  {{- include "dcis.saasproxy.callbacksDctmAuthEndpoint.urlPath" . }}
    callbacks.dctmauth.method=*
    callbacks.dctmauth.headers=content-type,authorization

    ## Whitelisting response headers and response data. Static for content system
    response.whitelist=headers,status,data,requestId,sourceId
    response.headers.whitelist=content-type,content-length,set-cookie,authorization

  log4j2.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="WARN">
        <Appenders>
            <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            </Console>
            <File name="File" fileName="/home/dmadmin/dcis/saas-proxy-client/logs/app.log">
                <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            </File>
        </Appenders>
        <Loggers>
            <Root level="debug">
                <!-- <AppenderRef ref="Console"/> -->
                <AppenderRef ref="File"/>
            </Root>
        </Loggers>
    </Configuration>
