{{- if eq 
  (empty (.Values.newrelic.enabled) 
    | ternary .Values.global.newrelic .Values.newrelic.enabled
  ) 
  true 
}}
#This secret is for notificationservice newrelic configuration
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix }}-newrelic-secret
  namespace: {{ .Values.namespace  | default .Release.Namespace }}
type: Opaque
stringData:
{{- if eq .Values.newrelic.proxy_enable true }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.newrelic.app_name | quote }}
      log_level: info
      proxy_host: {{ (.Values.newrelic.proxy_host | default .Values.global.newrelicProxyHost) | quote }}
      proxy_port: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort }}
{{ else }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.newrelic.app_name | quote }}
      log_level: info
{{- end }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix }}-db-secret
type: Opaque
data:
{{- if eq (empty (.Values.configMap.vault.enabled) | ternary .Values.global.isVaultEnabled .Values.configMap.vault.enabled) false }}
   db-pass: {{ default "" .Values.configMap.database.dbunencryptedpassword | b64enc | quote }}
{{- else }}
   vault-key: {{ default "" .Values.configMap.database.dbunencryptedpassword | b64enc | quote }}   
{{ end }}  
{{- if and   (eq (empty (.Values.configMap.database.db_ssl) | ternary .Values.global.db_ssl .Values.configMap.database.db_ssl) true) (eq (.Values.configMap.database.db_type | default .Values.global.dbtype) "postgres")}}  
   dbrootca.crt: {{ default "" .Values.configMap.database.db_ssl_rootcert | b64enc | quote   }}
   
{{ end }}   
