apiVersion: apps/v1
kind: Deployment
metadata:
   name: {{ .Values.service.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.service.name }}
      name: {{ .Chart.Name }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Values.service.name }}
        name: {{ .Chart.Name }}
        release: {{ .Release.Name }}
    spec:
      {{- if (empty (.Values.global.pullSecrets | quote) | ternary .Values.global.pullSecretName .Values.global.pullSecrets) }}
      imagePullSecrets:
        - name: {{ .Values.global.pullSecrets | default .Values.global.pullSecretName }}
      {{ end }}
      serviceAccountName: {{ .Values.serviceAccount.serviceAccountName | default .Values.global.documentumserviceaccount }}
      initContainers:
        - name: check-zk
          image:  {{ .Values.global.zkstatus_image | default .Values.global.zkStatusImage }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.pullPolicyType }}
          env: 
           - name: ZK_HOST
             valueFrom:
               configMapKeyRef:
                 name: zoo-search-configmap
                 key: zk.host
          command:
            - 'sh'
            - '-c'
            - |
              ZKHOST=`echo ${ZK_HOST%%:*}`
              java -jar zk-status-checker.jar $ZKHOST
              STATUS="${?}"
              echo "$STATUS"
              if [ $STATUS -ne 0 ] ; then
                 exit 1;
              else
                 exit 0;
              fi
      containers:
      - name: {{ .Values.service.name }}
        image: {{ .Values.image.repository | default .Values.global.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.pullPolicyType }}
        args:
        - while true; do
            echo -en '\n';
            sleep 10;
          done;
        env:
          - name: ZK_REGISTER_INSTANCE_ADDRESS
            value: {{ .Values.service.name | quote }}
        {{- range $key, $value := .Values.env }}
          - name: {{ $key }}
            value: {{ $value | quote }}
        {{- end }}
        {{- if or .Values.ssl.enabled .Values.global.useCertificate }}
          - name: CORESEARCH_SSL_ENABLED
            value: "true"
          - name: ZK_REGISTER_HTTP_SCHEMA
            value: "https"
          - name: CORESEARCH_SSL_KEYSTORE_PATH
            value: '{{ .Values.ssl.certificateMountPath | default "/opt/dctm/certificate" }}/{{ .Values.ssl.keystoreFile | default "common-keystore.p12" }}'
          - name: CORESEARCH_SSL_KEYSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ .Values.secrets.cs.name | default .Values.global.csSecrets }}'
                key: commontruststorepassword
          - name: CORESEARCH_KEY_ALIAS
            value: {{ .Values.ssl.keyAlias }}
          - name: CORESEARCH_SSL_KEYSTORE_TYPE
            value: '{{ .Values.ssl.keyStoreType | default "PKCS12" }}'
          - name: CORESEARCH_COMMON_CERT_MOUNT_PATH
            value: {{ .Values.ssl.certificateMountPath | quote }}
          - name: ACTIVEMQ_SECURITY_PROTOCOL
            value: '{{ .Values.artemis.protocol | default "SSL" }}'
          - name: ACTIVEMQ_TRUSTSTORE_LOCATION
            value: '{{ .Values.ssl.certificateMountPath | default "/opt/dctm/certificate" }}/{{ .Values.artemis.truststoreFile | default "common-truststore.p12" }}'
          - name: ACTIVEMQ_TRUSTSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ .Values.secrets.cs.name | default .Values.global.csSecrets }}'
                key: commontruststorepassword
          - name: CLIENT_SSL_TRUSTORE_LOCATION
            value: '{{ .Values.ssl.certificateMountPath | default "/opt/dctm/certificate" }}/{{ .Values.solr.trustStoreFile | default "common-truststore.p12" }}'
          - name: CLIENT_SSL_TRUSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ .Values.secrets.cs.name | default .Values.global.csSecrets }}'
                key: commontruststorepassword
          - name: ZK_SSL_ENABLED
            value: "true"
          - name: ZK_CLIENT_CONNECTION_SOCKET
            value: org.apache.zookeeper.ClientCnxnSocketNetty
          - name: ZK_TLS_PROTOCOL
            value: "TLSv1.3"
          - name: START_EXTRA_ARGS
            value: >-
              -Dzookeeper.ssl.hostnameVerification=false
              -Dzookeeper.ssl.trustStore.type=PKCS12
          - name: ZK_TRUSTSTORE_LOCATION
            value: '{{ .Values.ssl.certificateMountPath | default "/opt/dctm/certificate" }}/{{ .Values.zookeeper.trustStoreFile | default "common-truststore.p12" }}'
          - name: ZK_TRUSTSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ .Values.secrets.cs.name  | default .Values.global.csSecrets }}'
                key: commontruststorepassword
        {{- end }}
          - name: ACTIVEMQ_HOST
            valueFrom:
              configMapKeyRef:
                name: {{ .Values.configMap.amq.name | default .Values.global.amqConfigmap }}
                key: jms.host
          - name: ACTIVEMQ_PORT
            valueFrom:
              configMapKeyRef:
                name: {{ .Values.configMap.amq.name | default .Values.global.amqConfigmap }}
                key: jms.port
          - name: ACTIVEMQ_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secrets.amq.name | default .Values.global.amqSecret }}
                key: user
          - name: ACTIVEMQ_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secrets.amq.name | default .Values.global.amqSecret}}
                key: password
          - name: ZK_HOST
            valueFrom:
             configMapKeyRef:
               name: zoo-search-configmap
               key: zk.host
          - name: SOLR_ZK_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secrets.cs.name | default .Values.global.csSecrets }}
                key: solr_zk_password
          - name: ZK_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secrets.cs.name | default .Values.global.csSecrets }}
                key: zk_password
          - name: SOLR_AUTH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secrets.cs.name | default .Values.global.csSecrets }}
                key: solr_auth_password
         {{- if (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) }}
          - name: NEWRELIC_ENABLE
            value: {{ .Values.newrelic.enable | default .Values.global.newrelic | quote  }}
          - name: NEWRELIC_APP_NAME
            value: {{ .Values.newrelic.app_name }}.{{ .Release.Namespace }}
          - name: NEWRELIC_PROXY_HOST
            value: {{ .Values.global.newrelic_proxy_host | default .Values.global.newrelicProxyHost }}
          - name: NEWRELIC_PROXY_PROTOCOL
            value: {{ .Values.global.newrelic_proxy_protocol | default .Values.global.newrelicProxyProtocol }}
          - name: NEWRELIC_PROXY_PORT
            value: {{ .Values.global.newrelic_proxy_port | default .Values.global.newrelicProxyPort | quote  }}
          - name: NEWRELIC_LICENSE_KEY
            value: {{ .Values.global.newrelic_license_key | default .Values.global.licenseKeyName }}
          {{- end }}
        ports:
        - containerPort: {{ .Values.service.targetPort }}
          name: port
        startupProbe:
          initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.probe.timeoutSeconds }}
          periodSeconds: {{ .Values.startupProbe.periodSeconds }}
          httpGet:
            scheme: {{ if or .Values.ssl.enabled .Values.global.useCertificate }}"HTTPS"{{ else }}"HTTP"{{ end }}
            path: /health/ready
            port: {{ .Values.service.targetPort }}
        livenessProbe:
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.probe.timeoutSeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          httpGet:
            scheme: {{ if or .Values.ssl.enabled .Values.global.useCertificate }}"HTTPS"{{ else }}"HTTP"{{ end }}
            path: /health/ready
            port: {{ .Values.service.targetPort }}
        readinessProbe:
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.probe.timeoutSeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          httpGet:
            scheme: {{ if or .Values.ssl.enabled .Values.global.useCertificate }}"HTTPS"{{ else }}"HTTP"{{ end }}
            path: /health/ready
            port: {{ .Values.service.targetPort }}

        resources:
          requests:
            memory: {{ .Values.resources.requests.memory | quote  }}
            cpu: {{ .Values.resources.requests.cpu | quote  }}
          limits:
            memory: {{ .Values.resources.limits.memory | quote  }}
            cpu: {{ .Values.resources.limits.cpu | quote  }} 
        volumeMounts:
        - mountPath: /opt/searchsvc/logs
          name: shared-logs
          subPath: logs
        {{- if (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) }}
        - name: newrelic-config-map
          mountPath: /opt/newrelic/newrelic.yml
          subPath: newrelic.yml
        {{- end }}
        {{- if or .Values.ssl.enabled .Values.global.useCertificate }}
        - name: common-certificate-volume
          mountPath: '{{ .Values.ssl.certificateMountPath | default "/opt/dctm/certificate" }}'
          subPath: 'certificate/{{ .Values.global.dbrdataPVCName | default "certdbr-data-pvc" }}'
        {{- end }}
      volumes:
      - name: shared-logs
        emptyDir: {}
      {{- if or .Values.ssl.enabled .Values.global.useCertificate }}
      - name: common-certificate-volume
        persistentVolumeClaim:
          claimName: '{{ .Values.global.dbrServiceName | default "dbr" }}-pvc'
      {{- end }}
      {{- if (empty (.Values.newrelic.enable | quote) | ternary .Values.global.newrelic .Values.newrelic.enable) }}
      - name: newrelic-config-map
        configMap:
          name: coresearch-newrelic-config
          items:
            - key: newrelic.yml
              path: newrelic.yml
      {{- end }}