{{- if .Values.global.dctmclientinstaller.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: d2classic-web-xml
  {{- template "configMap.labels" . }}
data:
  web.xml: |-
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

    <web-app>
      <!-- filter -->
      <display-name>D2</display-name>
      <filter>
        <filter-name>CompressingFilter</filter-name>
        <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
        <init-param>
          <param-name>debug</param-name>
          <param-value>false</param-value>
        </init-param>
      </filter>
      <filter>
        <filter-name>SessionTimeoutFilter</filter-name>
        <filter-class>com.emc.x3.portal.server.filters.X3SessionTimeoutFilter</filter-class>
      </filter>
      <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
      </filter>
      <filter>
        <filter-name>X3CacheControlFilter</filter-name>
        <filter-class>com.emc.x3.portal.server.filters.X3CacheControlFilter</filter-class>
        <init-param>
          <param-name>max-age</param-name>
          <param-value>1209600</param-value>
          <!-- two weeks (in seconds) -->
        </init-param>
      </filter>
      <filter>
        <filter-name>HttpParamBasicAuthFilter</filter-name>
        <filter-class>com.emc.x3.portal.server.filters.HttpParamBasicAuthFilter</filter-class>
      </filter>
      <filter>
        <filter-name>HttpHeaderFilter</filter-name>
        <filter-class>com.emc.x3.portal.server.filters.HttpHeaderFilter</filter-class>
        <init-param>
          <param-name>header-name</param-name>
          <param-value>X-UA-Compatible</param-value>
        </init-param>
        <init-param>
          <param-name>header-value</param-name>
          <param-value>chrome=1</param-value>
        </init-param>
      </filter>
      <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/servlet/Download</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/servlet/ExportContent</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/servlet/ExportDictionary</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/servlet/ExportTaxonomy</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/servlet/ExportValues</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/servlet/ExtractProperties</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>SessionTimeoutFilter</filter-name>
        <url-pattern>/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>X3CacheControlFilter</filter-name>
        <url-pattern>/applet/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>X3CacheControlFilter</filter-name>
        <url-pattern>/container/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>X3CacheControlFilter</filter-name>
        <url-pattern>/resources/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>X3CacheControlFilter</filter-name>
        <url-pattern>/x3_portal/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>HttpParamBasicAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>HttpHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
      </filter-mapping>
      <listener>
        <listener-class>com.emc.d2fs.dctm.web.services.D2fsPropertyFileMonitorDestroy</listener-class>
      </listener>
      <!-- Defines the Spring-WS MessageDispatcherServlet -->
      <listener>
        <listener-class>com.emc.x3.portal.server.GwtRpcServicesListener</listener-class>
      </listener>
      <listener>
        <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
      </listener>
      <listener>
        <listener-class>com.documentum.fc.client.web.ShutdownListener</listener-class>
      </listener>
      <listener>
        <listener-class>com.emc.common.dctm.contents.D2FileCleanerThreadDestroy</listener-class>
      </listener>
      <servlet>
        <servlet-name>spring-ws</servlet-name>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
        <init-param>
          <!-- Transform the location attributes in WSDLs -->
          <param-name>transformWsdlLocations</param-name>
          <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
      </servlet>
      <!--<servlet>
            <servlet-name>spring-rest</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>-->
      <servlet>
        <servlet-name>DispatchDownload</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.download.DispatchDownload</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.download.Download</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ExportContent</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.export.ExportContent</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ExportDictionary</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.dictionary.ExportDictionary</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ImportDictionary</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.dictionary.ImportDictionary</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ExportTaxonomy</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.taxonomy.ExportTaxonomy</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ImportTaxonomy</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.taxonomy.ImportTaxonomy</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ExportValues</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.dialog.ExportValues</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ImportValues</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.dialog.ImportValues</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>SetFile</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.SetFile</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>GetBocsUploadUrl</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.GetBocsUploadUrl</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>DoOperation</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.DoOperation</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>Checkin</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.Checkin</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>CheckInWithLifeCycle</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.CheckInWithLifeCycle</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ExtractProperties</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.ExtractProperties</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ImportStructure</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.upload.ImportStructure</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>CheckinPdfFile</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.hyperlink.CheckinPdfFile</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ViewLinkDestination</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.hyperlink.ViewLinkDestination</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>RefreshCache</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.caches.RefreshCache</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>ControlStatus</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.monitor.ControlStatus</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>GetResource</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.plugins.GetResource</servlet-class>
      </servlet>
      <!-- Start Init Pack -->
      <servlet>
        <servlet-name>LoadOnStartup</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.init.LoadOnStartup</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
      <servlet>
        <servlet-name>ReloadOptions</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.init.ReloadOptions</servlet-class>
      </servlet>
      <!-- End Init Pack -->
      <servlet>
        <servlet-name>Liveness</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.init.Liveness</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
      <servlet>
        <servlet-name>Readiness</servlet-name>
        <servlet-class>com.emc.d2fs.dctm.servlets.init.Readiness</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
      <!-- Map all requests to this servlet -->
      <!--<servlet-mapping>
            <servlet-name>spring-rest</servlet-name>
            <url-pattern>/rest/*</url-pattern>
        </servlet-mapping>-->
      <servlet>
        <servlet-name>LogMemory</servlet-name>
        <servlet-class>com.emc.x3.portal.server.servlet.init.LogMemory</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
      <servlet>
        <servlet-name>X3BravaAnnotationsEditList</servlet-name>
        <servlet-class>com.emc.x3.portal.server.X3BravaAnnotationsEditList</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>X3BravaAnnotationsViewList</servlet-name>
        <servlet-class>com.emc.x3.portal.server.X3BravaAnnotationsViewList</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>X3BravaAnnotationsRasterList</servlet-name>
        <servlet-class>com.emc.x3.portal.server.X3BravaAnnotationsRasterList</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>X3BravaAnnotationsView</servlet-name>
        <servlet-class>com.emc.x3.portal.server.X3BravaAnnotationsView</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>X3BravaAnnotationsChangemarkView</servlet-name>
        <servlet-class>com.emc.x3.portal.server.X3BravaAnnotationsChangemarkView</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>X3BravaAnnotationsRasterView</servlet-name>
        <servlet-class>com.emc.x3.portal.server.X3BravaAnnotationsRasterView</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>IgcBaseServlet</servlet-name>
        <servlet-class>com.igc.brava.servlet.IgcBaseServlet</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>IgcViewerServlet</servlet-name>
        <servlet-class>com.igc.brava.servlet.IgcViewerServlet</servlet-class>
      </servlet>
      <servlet>
        <servlet-name>IgcResourceServlet</servlet-name>
        <servlet-class>com.igc.brava.servlet.IgcResourceServlet</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>/ws/*</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>*.wsdl</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>DispatchDownload</servlet-name>
        <url-pattern>/servlet/DispatchDownload</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/servlet/Download</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ExportContent</servlet-name>
        <url-pattern>/servlet/ExportContent</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ExportDictionary</servlet-name>
        <url-pattern>/servlet/ExportDictionary</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ImportDictionary</servlet-name>
        <url-pattern>/servlet/ImportDictionary</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ExportTaxonomy</servlet-name>
        <url-pattern>/servlet/ExportTaxonomy</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ImportTaxonomy</servlet-name>
        <url-pattern>/servlet/ImportTaxonomy</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ExportValues</servlet-name>
        <url-pattern>/servlet/ExportValues</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ImportValues</servlet-name>
        <url-pattern>/servlet/ImportValues</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>SetFile</servlet-name>
        <url-pattern>/servlet/SetFile</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>GetBocsUploadUrl</servlet-name>
        <url-pattern>/servlet/GetBocsUploadUrl</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>DoOperation</servlet-name>
        <url-pattern>/servlet/DoOperation</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>Checkin</servlet-name>
        <url-pattern>/servlet/Checkin</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>CheckInWithLifeCycle</servlet-name>
        <url-pattern>/servlet/CheckInWithLifeCycle</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ExtractProperties</servlet-name>
        <url-pattern>/servlet/ExtractProperties</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ImportStructure</servlet-name>
        <url-pattern>/servlet/ImportStructure</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>CheckinPdfFile</servlet-name>
        <url-pattern>/servlet/CheckinPdfFile</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ViewLinkDestination</servlet-name>
        <url-pattern>/servlet/ViewLinkDestination</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>RefreshCache</servlet-name>
        <url-pattern>/servlet/RefreshCache</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControlStatus</servlet-name>
        <url-pattern>/servlet/ControlStatus</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>GetResource</servlet-name>
        <url-pattern>/servlet/GetResource/*</url-pattern>
      </servlet-mapping>
      <!-- Start Init Pack -->
      <servlet-mapping>
        <servlet-name>LoadOnStartup</servlet-name>
        <url-pattern>/servlet/LoadOnStartup</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ReloadOptions</servlet-name>
        <url-pattern>/servlet/ReloadOptions</url-pattern>
      </servlet-mapping>
      <!-- End Init Pack -->
      <servlet-mapping>
        <servlet-name>Liveness</servlet-name>
        <url-pattern>/live</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>Readiness</servlet-name>
        <url-pattern>/ready</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>LogMemory</servlet-name>
        <url-pattern>/servlet/LogMemory</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>X3BravaAnnotationsEditList</servlet-name>
        <url-pattern>/servlet/X3BravaAnnotationsEditList</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>X3BravaAnnotationsViewList</servlet-name>
        <url-pattern>/servlet/X3BravaAnnotationsViewList</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>X3BravaAnnotationsRasterList</servlet-name>
        <url-pattern>/servlet/X3BravaAnnotationsRasterList</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>X3BravaAnnotationsView</servlet-name>
        <url-pattern>/servlet/X3BravaAnnotationsView</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>X3BravaAnnotationsRasterView</servlet-name>
        <url-pattern>/servlet/X3BravaAnnotationsRasterView</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>X3BravaAnnotationsChangemarkView</servlet-name>
        <url-pattern>/servlet/X3BravaAnnotationsChangemarkView</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>IgcResourceServlet</servlet-name>
        <url-pattern>/igcresource/*</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>IgcBaseServlet</servlet-name>
        <url-pattern>/brava</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
        <servlet-name>IgcViewerServlet</servlet-name>
        <url-pattern>/igcbrava</url-pattern>
      </servlet-mapping>
      <session-config>
        <!-- Specify session maxInactiveInterval in minutes -->
        <session-timeout>30</session-timeout>
        <cookie-config>
          <!-- Make JSESSIONID cookie inaccessible to web page and javascript -->
          <http-only>true</http-only>
          <!-- Make JSESSIONID cookie be sent by browser only on HTTPS requests -->
          <!-- Set this to true only if using HTTPS -->
          <!-- <secure>true</secure> -->
                <secure>true</secure>
        </cookie-config>
      </session-config>
      <mime-mapping>
        <extension>msi</extension>
        <mime-type>application/x-msi</mime-type>
      </mime-mapping>
      <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
      </mime-mapping>
      <welcome-file-list>
        <welcome-file>X3_Portal.jsp</welcome-file>
      </welcome-file-list>
      <error-page>
        <error-code>500</error-code>
        <location>/errors/500.jsp</location>
      </error-page>
      <error-page>
        <error-code>401</error-code>
        <location>/errors/401.jsp</location>
      </error-page>
    {{- if $configFileAppendsValues := .Values.web_xml }}
    {{ $configFileAppendsValues | nindent 4 }}
    {{- end }}
    </web-app>

    {{- end }}
