zookeeper:
  replicaCount: 2
  HEAP: -Xms750m -Xmx3g
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 4Gi
  persistence:
    size: 8Gi
solr:
  replicaCount: 2
  javaMem:  "-Xms6g -Xmx12g"
  resources:
    requests:
      cpu: 500m
      memory: 4Gi
    limits:
      cpu: 2000m
      memory: 16Gi
  volumeClaimTemplates:
    storageSize: 428Gi
  backup:
    persistence:
      storageSize: 428Gi
kafka:
  replicaCount: 2
  env:
    JAVA_OPTS: -Xms750m -Xmx3g
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 4Gi
  persistence:
    size: 143Gi
parser:
  replicaCount: 2
  env:
    JAVA_OPTS: -Xms1125m -Xmx4500m
  resources:
    requests:
      cpu: 500m
      memory: 1500Mi
    limits:
      cpu: 2000m
      memory: 6Gi
  persistence:
    size: 8Gi
indexer:
  replicaCount: 2
  env:
    JDK_JAVA_OPTIONS: -Xms750m -Xmx3g
    ACTIVEMQ_CONSUMER_WINDOW_SIZE_BYTES: "20971520"
    ACTIVEMQ_CONSUMER_SIZE: 4
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 4Gi
coresearch:
  replicaCount: 1
  env:
    JDK_JAVA_OPTIONS: -Xms750m -Xmx3g
    SOLR_NUM_REPLICAS: 2
    ACTIVEMQ_CONSUMER_SIZE: 4
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 4Gi
fetcher:
  replicaCount: 2
  env:
    JAVA_OPTS: -Xms750m -Xmx3g
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 4Gi
index-agent:
  replicaCount: 1
  env:
    JAVA_OPTS: -Xms1500m -Xmx6g
  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      cpu: 2000m
      memory: 8Gi
  persistence:
    size: 8Gi
search-agent:
  replicaCount: 2
  env:
    JAVA_OPTS: -Xms750m -Xmx3g
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 4Gi
admin:
  replicaCount: 1
  env:
    JAVA_OPTS: -Xms375m -Xmx1500m
  resources:
    requests:
      cpu: 250m
      memory: 500Mi
    limits:
      cpu: 1000m
      memory: 2Gi
