{{- if eq .Values.services.otds "true" }}
apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-{{ .Values.components.otds }}-secret
 namespace: {{ .Values.global.namespace }} 
type: Opaque
data:
  {{- if (eq .Values.secretmanager.secret_manager_enabled "0") }}
    {{- if or (eq .Values.otdsparameters.automate_otds "2") (eq .Values.otdsparameters.otdsType "1") }}
    OTDS_PASSWORD: {{ .Values.secrets.OTDS_PASSWORD }}
    {{- end }}
    {{- if or (eq .Values.otdsparameters.automate_otds "0") (eq .Values.otdsparameters.automate_otds "1") }}
    OTDS_OAUTH_CLIENT_SECRET: {{ .Values.secrets.OTDS_OAUTH_CLIENT_SECRET }}
    {{- end }}
    {{- if or (eq .Values.otdsparameters.automate_otds "1") (eq .Values.otdsparameters.automate_otds "2") }}
    OTOS_ADMINUSER_PWD: {{ .Values.secrets.OTOS_ADMINUSER_PWD }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if eq .Values.services.osprimary "true" }}  
---
{{- if eq .Values.envvariables.osprimary.CONFIGURE_SAP_OMSCB "1" }}
apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-{{ .Values.components.osprimary }}-omscb-secret
 namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  SAP_PASSWORD: {{ .Values.secrets.SAP_PASSWORD }}
{{- end }}  
{{- end }}

{{- if eq .Values.services.osprimary "true" }}
---
{{- if eq .Values.envvariables.osprimary.CONFIGURE_SCPS "1" }}
apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-{{ .Values.components.osprimary }}-scps-secret
 namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  SCPS_USER_PASSWORD: {{ .Values.secrets.SCPS_USER_PASSWORD }}
{{- end }}
{{- end }}

{{- if eq .Values.services.osprimary "true" }}  
---
{{- if eq .Values.envvariables.osprimary.CONFIGURE_SECURE_ACCESS "1" }}
apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-{{ .Values.components.osprimary }}-solr-secret
 namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  SOLR_PASSWORD: {{ .Values.secrets.SOLR_PASSWORD }}
{{- end }}  
{{- end }}

{{- if eq .Values.services.osprimary "true" }}
---
{{- if eq .Values.envvariables.osprimary.CONFIGURE_OTOS_ANALYTICS "1" }}
apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-{{ .Values.components.osprimary }}-solr-secret-osa
 namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  SOLR_PASSWORD: {{ .Values.secrets.SOLR_PASSWORD }}
{{- end }}
{{- end }}



{{- if eq .Values.services.osprimary "true" }}  
---
apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-{{ .Values.components.osprimary }}-otds-oauth-client-secret
 namespace: {{ .Values.global.namespace }}
type: Opaque
data:  
  {{- if (eq .Values.secretmanager.secret_manager_enabled "0") }}
  OTDS_OAUTH_CLIENT_SECRET: {{ .Values.secrets.OTDS_OAUTH_CLIENT_SECRET | quote }}
  {{- end }}
{{- end }}

{{- if eq .Values.services.osprimary "true" }}
---

apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-osdatabase-secret
 namespace: {{ .Values.global.namespace }} 
type: Opaque
data:
  {{- if (eq .Values.secretmanager.secret_manager_enabled "0") }}
  DATABASE_SERVER_PASSWORD: {{ .Values.secrets.OS_DATABASE_SERVER_PASSWORD }}
  {{- if eq .Values.osdatabaseparameters.AUTOMATE_DATABASE "1" }}
  LOGIN_DB_PASSWORD: {{ .Values.secrets.LOGIN_DB_PASSWORD}}
  {{- end }}
  {{- end }}
{{- end }}

{{- if eq .Values.services.osprimary "true" }}
---

apiVersion: v1
kind: Secret
metadata:
 name: {{ .Release.Name }}-{{ .Values.global.namespace }}-ossecretmanager-secret
 namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  {{- if (eq .Values.secretmanager.secret_manager_enabled "1") }}
  SECRET_MANAGER_LOGIN_TOKEN: {{ .Values.secrets.secret_manager_login_token }}
  {{- end }}
{{- end }}
