# If you are using this particular resource yaml for upgrading your existing deployment to 24.2, please ensure that resources for all pods are equal or greater than values in existing deployment
docbroker_count: &docbroker_count 2 #number of replicas of docbroker
db:
  database:
    replicaCount: 1
  alterParam:
    max_connections: 1000
    shared_buffers: 4GB
  persistentVolume:
    size: 100Gi
  resources:
    limits:
      cpu: 9000m
      memory: 24Gi
    requests:
      cpu: 4500m
      memory: 12Gi
docbroker:
  docbroker:
    replicaCount: *docbroker_count
  persistentVolume:
    size: 1Gi
  resources:
    limits:
      cpu: 600m
      memory: 1Gi
    requests:
      cpu: 300m
      memory: 300Mi
  vault:
    size: 100Mi
content-server:
  contentserver:
    replicaCount: 3
    docbrokersCount: *docbroker_count
  persistentVolume:
    size: 21Gi
  dbrpersistentVolume:
    size: 1Gi
  resources:
    limits:
      cpu: 6000m
      memory: 26Gi
    requests:
      cpu: 3000m
      memory: 20Gi
  vault:
    size: 100Mi
dctm-rest:
  replicaCount: 2
  custom:
    pvcSize: 1Gi
  resources:
    limits:
      cpu: 3900m
      memory: 9Gi
    requests:
      cpu: 500m
      memory: 4Gi
dctm-cmis:
  replicaCount: 2
  cmis:    
    pvcSize: 2Gi
    logs:
      pvcSize: 2Gi
  resources:
    limits:
      cpu: 2500m
      memory: 4.5Gi
    requests:
      cpu: 2000m
      memory: 4.5Gi
dctm-workflow-designer:
  replicaCount: 1
  persistentVolume:
    size: 2Gi
  volumeClaimTemplates:
    size: 200Mi
  resources:
    limits:
      cpu: 1000m
      memory: 4Gi
    requests:
      cpu: 1000m
      memory: 4Gi
dfs:
  replicaCount: 2
  volumeClaimTemplate:
    size: 1Gi
    # storage class for the volumeClaimTemplates Ex : azurefile
    logVctSize: 2Gi
  extensionPVC:
    PVCSize: 2Gi
  resources:
    limits:
      cpu: 2500m
      memory: 4.5Gi
    requests:
      cpu: 2000m
      memory: 4.5Gi      
contentconnect:
  replicaCount: 1
  resources:
    limits:
      cpu: 800m
      memory: 1Gi
    requests:
      cpu: 600m
      memory: 0.8Gi
  contentconnectdb:
    replicaCount: 1
    resources:
      limits:
        cpu: 0.5
        memory: 600Mi
      requests:
        cpu: 0.4
        memory: 500Mi
dtrbase:
  persistentVolumeClaim:
    size: 1Gi
  deployment:
    replicaCount: 1
  resources:
    limits:
      cpu: 1200m
      memory: 8Gi
    requests:
      cpu: 600m
      memory: 4Gi
da:
  replicaCount: 1
  persistentVolumeClaim:
    size: 1Gi
  resources:
    limits:
      cpu: 400m
      memory: 4Gi
    requests:
      cpu: 200m
      memory: 2Gi
records:
  persistentVolumeClaim:
    PVCsize: 1Gi
  persistentVolumeClaimEC:
    PVCsize: 1Gi
  docbroker:
    replicaCount: *docbroker_count
  records:
    replicaCount: 2
  resources:
    limits:
      cpu: 1200m
      memory: 8Gi
    requests:
      cpu: 600m
      memory: 4Gi
rqm:
  containers:
    rqm:
      replicaCount: 1
  resources:
    limits:
      cpu: 100m
      memory: 400Mi
    requests:
      cpu: 100m
      memory: 400Mi
otds:
  otdsws:
    replicas: 3
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 2000m
        memory: 1.5Gi
d2classic:
  replicaCount: 3
  docbroker:
    count: *docbroker_count
  graylog:
    volumeClaimTemplate:
      logVctSize: 3Gi
  customConfigurations:
    persistentVolume: 
      size: 2Gi
  persistentVolume:
    size: 1Gi
  resources:
    limits:
      cpu: 2000m
      memory: 6Gi
    requests:
      cpu: 1000m
      memory: 5Gi
d2config:
  replicaCount: 1
  docbroker:
    count: *docbroker_count
  graylog:
    volumeClaimTemplate:
      logVctSize: 3Gi
  customConfigurations:
    persistentVolume: 
      size: 2Gi
  persistentVolume:
    size: 1Gi
  extension:
    PVCSize: 8Gi
  resources:
    limits:
      cpu: 600m
      memory: 12Gi
    requests:
      cpu: 500m
      memory: 5Gi
d2smartview:
  replicaCount: 4
  docbroker:
    count: *docbroker_count
  graylog:
    volumeClaimTemplate:
      logVctSize: 3Gi
  customConfigurations:
    persistentVolume: 
      size: 2Gi
  persistentVolume:
    size: 1Gi
  resources:
    limits:
      cpu: 3200m
      memory: 14Gi
    requests:
      cpu: 900m
      memory: 6Gi
d2rest:
  replicaCount: 1
  docbroker:
    count: *docbroker_count
  graylog:
    volumeClaimTemplate:
      logVctSize: 3Gi
  customConfigurations:
    persistentVolume: 
      size: 2Gi
  persistentVolume:
    size: 1Gi
  resources:
    limits:
      cpu: 800m
      memory: 8Gi
    requests:
      cpu: 500m
      memory: 4Gi

adminconsole:
  replicaCount: 2
  docbroker:
    count: *docbroker_count
  graylog:
    volumeClaimTemplate:
      logVctSize: 2Gi
  customConfigurations:
    persistentVolume: 
      size: 2Gi
  persistentVolume:
    size: 1Gi
  resources:
    limits:
      cpu: 2000m
      memory: 4Gi
    requests:
      cpu: 300m
      memory: 3Gi

xPlore-OneD:
  cps:
    replicaCount: 2
  persistentVolume:
    size: 856Gi
  resources:
    indexserver:
      limits:
        cpu: 2000m
        memory: 12Gi
      requests:
        cpu: 1000m
        memory: 8Gi
    indexagent:
      limits:
        cpu: 1000m
        memory: 4Gi
      requests:
        cpu: 500m
        memory: 2Gi
    cps:
      limits:
        cpu: 1000m
        memory: 12Gi
      requests:
        cpu: 500m
        memory: 6Gi
  dcis-text-extractor:
    fetcher:
      replicaCount: 2
      env:
        JAVA_OPTS: -Xms1500m -Xmx6g
      resources:
        requests:
          cpu: 500m
          memory: 2Gi
        limits:
          cpu: 2000m
          memory: 8Gi
    parser:
      replicaCount: 2
      env:
        JAVA_OPTS: -Xms1500m -Xmx6g
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 4000m
          memory: 8Gi
      persistence:
        size: 8Gi

smartviewm365:
  replicaCount: 1
  graylog:
    PVCSize: 4Gi 
  extension:
    PVCSize: 4Gi
  resources:
    limits:
     cpu: 1000m
     memory: 2Gi
    requests:
     cpu: 600m
     memory: 1.5Gi
notificationservice:
  replicaCount: 2
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 800m
      memory: 1.5Gi

oesconnector:
  replicaCount: 1
  graylog:
    PVCSize: 4Gi 
  extension:
    PVCSize: 4Gi
  resources:
    limits:
      cpu: 1200m
      memory: 2Gi
    requests:
      cpu: 1000m
      memory: 2Gi

appworks-gateway:  
  replicaCount: 1 
  resources:
    limits:
      cpu: 100m
      memory: 0.4Gi
    requests:
      cpu: 100m
      memory: 0.4Gi
otiv:
  global:
    # size of NFS storage to allocate for IV published artifacts
    nfsPersistenceSize: 2Gi
  amqp:
    replicas: 6 
    persistence:
      size: 1Gi
    resources:
      limits:
        cpu: 1500m
        memory: 4Gi
      requests:
        cpu: 750m
        memory: 1.25Gi
  asset:
    replicas: 3  
    resources:
      limits:
        cpu: 500m
        memory: 1.2Gi
      requests:
        cpu: 250m
        memory: 0.6Gi
  config:
    replicas: 3
    resources:
      limits:
        cpu: 500m
        memory: 2.9Gi
      requests:
        cpu: 250m
        memory: 1.5Gi
  highlight:
    replicas: 3
    resources:
      limits:
        cpu: 500m
        memory: 0.7Gi
      requests:
        cpu: 250m
        memory: 0.35Gi
  markup:
    replicas: 2
    resources:
      limits:
        cpu: 500m
        memory: 0.7Gi
      requests:
        cpu: 250m
        memory: 0.35Gi        
  publication:
    replicas: 2
    resources:
      limits:
        cpu: 1000m
        memory: 3.7Gi
      requests:
        cpu: 500m
        memory: 1.85Gi        
  publisher:
    replicas: 1
    resources:
      limits:
        cpu: 2000m
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 2Gi    
  viewer:
    replicas: 2 
    resources:
      limits:
        cpu: 500m
        memory: 0.7Gi
      requests:
        cpu: 250m
        memory: 0.35Gi                    
bps:
  docbroker:
    count: *docbroker_count
  replicaCount: 2
  volumeClaimTemplates:  
    size: 1Gi  
  bpsConfig:
    maxReplicas: 3
    minReplicas: 2 
  resources:
    limits:
      cpu: 2500m
      memory: 9Gi
    requests:
      cpu: 2000m
      memory: 6Gi  
xda:
  replicaCount: 1  
  resources:
    limits:
      cpu: 1000m
      memory: 4Gi
    requests:
      cpu: 1000m
      memory: 4Gi 
documentum-search:
  zookeeper:
    replicaCount: 2
    HEAP: -Xms750m -Xmx3g
    resources:
      requests:
        cpu: 300m
        memory: 0.5Gi
      limits:
        cpu: 1000m
        memory: 4Gi
    persistence:
      size: 8Gi
  solr:
    replicaCount: 3
    javaMem: "-Xms6g -Xmx15g"
    resources:
      requests:
        cpu: 500m
        memory: 4Gi
      limits:
        cpu: 3000m
        memory: 20Gi
    volumeClaimTemplates:
      storageSize: 856Gi
  parser:
    replicaCount: 2
    env:
      JAVA_OPTS: -Xms1500m -Xmx6g
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        cpu: 4000m
        memory: 8Gi
    persistence:
      size: 8Gi
  indexer:
    replicaCount: 2
    env:
      JDK_JAVA_OPTIONS: -Xms1500m -Xmx6g
      ACTIVEMQ_CONSUMER_WINDOW_SIZE_BYTES: "41943040"
      ACTIVEMQ_CONSUMER_SIZE: 8
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 2000m
        memory: 8Gi
  coresearch:
    replicaCount: 1
    env:
      SOLR_NUM_REPLICAS: 3
      ACTIVEMQ_CONSUMER_SIZE: 8
      JDK_JAVA_OPTIONS: -Xms1500m -Xmx6g
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 2000m
        memory: 8Gi
  fetcher:
    replicaCount: 2
    env:
      JAVA_OPTS: -Xms1500m -Xmx6g
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 2000m
        memory: 8Gi
  index-agent:
    replicaCount: 1
    env:
      JAVA_OPTS: -Xms2250m -Xmx9g
    resources:
      requests:
        cpu: 1000m
        memory: 3Gi
      limits:
        cpu: 4000m
        memory: 12Gi
    persistence:
      size: 8Gi
  search-agent:
    replicaCount: 2
    env:
      JAVA_OPTS: -Xms750m -Xmx3g
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 2000m
        memory: 4Gi
  admin:
    replicaCount: 2
    env:
      JAVA_OPTS: -Xms375m -Xmx1500m
    resources:
      requests:
        cpu: 300m
        memory: 500Mi
      limits:
        cpu: 1000m
        memory: 2Gi
dctm-dcc:
  consul:
    replicaCount: 1
    resources:
      limits:
        cpu: 400m
        memory: 500Mi
      requests:
        cpu: 300m
        memory: 200Mi
      
  metadata:
    replicaCount: 1
    resources:
      limits:
        cpu: 800m
        memory: 1Gi
      requests:
        cpu: 400m
        memory: 800Mi

  syncagent:
    replicaCount: 1
    resources:
      limits:
        cpu: 1200m
        memory: 2Gi
      requests:
        cpu: 1000m
        memory: 1.5Gi
      
  syncnshareManual:
    replicaCount: 1
    resources:
      limits:
        cpu: 1200m
        memory: 2Gi
      requests:
        cpu: 1000m
        memory: 1Gi
      
  coreNotification:
    replicaCount: 1
    resources:
      limits:
        cpu: 800m
        memory: 1Gi
      requests:
        cpu: 400m
        memory: 800Mi

  mailService:
    replicaCount: 1
    resources:
      limits:
        cpu: 800m
        memory: 1Gi
      requests:
        cpu: 400m
        memory: 800Mi
amq:
  replicaCount: 1
  AMQ_HEAP: -Xms1500m -Xmx6g
  resources:
    requests:
      cpu: 2000m
      memory: 4Gi
    limits:
      cpu: 2000m
      memory: 8Gi
  persistence:
    size: 4Gi

ijms:
  ijms:
    replicaCount: 2
  persistentVolume:
    size: 3Gi
  volumeClaimTemplate:
    size: 1Gi
    logVctSize: 2Gi
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  docbroker:
    docbrokersCount: 2
dctm-dcis:
  replicaCount: 2
  resources:
    requests:
      cpu: 1500m
      memory: 6Gi
    limits:
      cpu: 2000m
      memory: 8Gi
dctm-dms:
  replicaCount: 1
  dms:
    pvcSize: 1Gi
    logs:
      pvcSize: 2Gi
  resources:
    limits:
      cpu: 600m
      memory: 5Gi
    requests:
      cpu: 600m
      memory: 5Gi 
lss: 
  ls-print:
    replicaCount: 2
    persistentVolume: 
      size: 6Gi
    persistLogsOnPvc:
      volumeClaimTemplate:
        logVctSize: 2Gi  
    resources:
      limits:
        cpu: 2000m
        memory: 8Gi
      requests:
        cpu: 1000m
        memory: 4Gi
  dfos:
    replicaCount:
      osprimary: 2
      oshaproxy: 2 
    memory:
      osprimary: 4Gi
      oshaproxy: 2Gi
    cpu:
      osprimary: 1000m
      oshaproxy: 500m
  ls-sftp:
    sftp:
      replicaCount: 2
    persistentVolume:
      submissions: 
        size: 24Gi
      users: 
        size: 1Gi
    persistLogsOnPvc:
      volumeClaimTemplate:
        logVctSize: 2Gi
    resources:
      limits:
        cpu: 500m
        memory: 4Gi
      requests:
        cpu: 300m
        memory: 2Gi
dctm-assap:
  deployment:
    replicaCount: 1
  persistentVolumeClaim:
    size: 1Gi
  custom:
    size: 22Mi
  resources:
    limits:
      cpu: 600m
      memory: 4Gi
    requests:
      cpu: 600m
      memory: 4Gi
dctm-assap-ilm:
  deployment:
    replicaCount: 1
  persistentVolumeClaim:
    size: 1Gi
  custom:
    size: 22Mi
  resources:
    limits:
      cpu: 600m
      memory: 4Gi
    requests:
      cpu: 600m
      memory: 4Gi
dctm-cssap:
  deployment:
    replicaCount: 1
  persistentVolumeClaim:
    size: 1Gi
  custom:
    size: 22Mi
  resources:
    limits:
      cpu: 600m
      memory: 4Gi
    requests:
      cpu: 600m
      memory: 4Gi