{{- if hasKey .Values.ingress "tls" }}
{{- if and (eq .Values.ingress.enableDCCIngress true) (eq .Values.ingress.tls.enabled true) }}
#This secret is for ssl tls
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.ingress.tls.secretName }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .Values.ingress.tls.tlscrt }}
  tls.key: {{ .Values.ingress.tls.tlskey }}
{{- end }}
{{- end }}
---
{{- if and (eq .Values.metadata.enabled true) (eq (empty (.Values.metadata.newrelic.enabled | quote) | ternary .Values.global.newrelic .Values.metadata.newrelic.enabled) true) }}
#This secret is for metadata newrelic configuration
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix | default .Values.global.dccPrefix }}-{{ .Values.metadata.prefix }}-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: Opaque
stringData:
{{- if eq .Values.newrelic.proxy_enable true }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.metadata.newrelic.app_name | quote }}
      log_level: info
      proxy_host: {{ default "" (default .Values.global.newrelicProxyHost .Values.newrelic.proxy_host) | quote }}
      proxy_port: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort }}
{{ else }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.metadata.newrelic.app_name | quote }}
      log_level: info
{{- end }}
{{- end }}
---
{{- if and (eq .Values.syncagent.enabled true) (eq (empty (.Values.syncagent.newrelic.enabled | quote) | ternary .Values.global.newrelic .Values.syncagent.newrelic.enabled) true) }}
#This secret is for syncagent newrelic configuration
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix | default .Values.global.dccPrefix }}-{{ .Values.syncagent.prefix }}-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: Opaque
stringData:
{{- if eq .Values.newrelic.proxy_enable true }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.syncagent.newrelic.app_name | quote }}
      log_level: info
      proxy_host: {{ default "" (default .Values.global.newrelicProxyHost .Values.newrelic.proxy_host) | quote }}
      proxy_port: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort }}
{{ else }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.syncagent.newrelic.app_name | quote }}
      log_level: info
{{- end }}
{{- end }}
---
{{- if and (eq .Values.syncnshareManual.enabled true) (eq (empty (.Values.syncnshareManual.newrelic.enabled | quote) | ternary .Values.global.newrelic .Values.syncnshareManual.newrelic.enabled) true) }}
#This secret is for syncnshareManual newrelic configuration
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix | default .Values.global.dccPrefix}}-{{ .Values.syncnshareManual.prefix }}-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: Opaque
stringData:
{{- if eq .Values.newrelic.proxy_enable true }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.syncnshareManual.newrelic.app_name | quote }}
      log_level: info
      proxy_host: {{ default "" (default .Values.global.newrelicProxyHost .Values.newrelic.proxy_host) | quote }}
      proxy_port: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort }}
{{ else }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.syncnshareManual.newrelic.app_name | quote }}
      log_level: info
{{- end }}
{{- end }}
---
{{- if and (eq .Values.coreNotification.enabled true) (eq (empty (.Values.coreNotification.newrelic.enabled | quote) | ternary .Values.global.newrelic .Values.coreNotification.newrelic.enabled) true) }}
#This secret is for coreNotification newrelic configuration
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix | default .Values.global.dccPrefix }}-{{ .Values.coreNotification.prefix }}-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: Opaque
stringData:
{{- if eq .Values.newrelic.proxy_enable true }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.coreNotification.newrelic.app_name | quote }}
      log_level: info
      proxy_host: {{ default "" (default .Values.global.newrelicProxyHost .Values.newrelic.proxy_host) | quote }}
      proxy_port: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort }}
{{ else }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.coreNotification.newrelic.app_name | quote }}
      log_level: info
{{- end }}
{{- end }}
---
{{- if and (eq .Values.mailService.enabled true) (eq (empty (.Values.mailService.newrelic.enabled | quote) | ternary .Values.global.newrelic .Values.mailService.newrelic.enabled) true) }}
#This secret is for mailService newrelic configuration
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.prefix | default .Values.global.dccPrefix }}-{{ .Values.mailService.prefix }}-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: Opaque
stringData:
{{- if eq .Values.newrelic.proxy_enable true }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.mailService.newrelic.app_name | quote }}
      log_level: info
      proxy_host: {{ default "" (default .Values.global.newrelicProxyHost .Values.newrelic.proxy_host) | quote }}
      proxy_port: {{ .Values.newrelic.proxy_port | default .Values.global.newrelicProxyPort }}
{{ else }}
  newrelic.yml: |
    common: &default_settings
      license_key: {{ default "" .Values.newrelic.license_key | quote }}
      app_name: {{ default "" .Values.mailService.newrelic.app_name | quote }}
      log_level: info
{{- end }}
{{- end }}
---

{{- if or (eq .Values.metadata.dbSchemaInit.enabled true) (eq .Values.syncagent.dbSchemaInit.enabled true) (eq .Values.syncnshareManual.dbSchemaInit.enabled true) (eq .Values.coreNotification.dbSchemaInit.enabled true)}}
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  db-pass: {{ default "" .Values.database.dbunencryptedpassword | b64enc | quote }}
{{- if (empty (.Values.database.ssl | quote) | ternary .Values.global.db_ssl .Values.database.ssl) }}
  dbrootca.crt: {{ default "" .Values.database.sslrootcert | b64enc | quote }}
  dbserver.crt: {{ default "" .Values.database.sslcert | b64enc | quote }}
  dbkey.key: {{ default "" .Values.database.sslkey | b64enc | quote }}
{{- end }}
{{- end }}

---
{{- if and .Values.global.internalTlsEnable .Values.global.useCertificate .Values.global.createCommonTruststore }}
apiVersion: v1
kind: Secret
metadata:
  name: core-share-cert
  namespace: {{ .Values.namespace | default .Release.Namespace }}
type: Opaque
stringData:
  corecertificate.crt: |-
    {{ .Values.coreNotification.coresharecrt | nindent 4 }}
{{- end}}
