#metadata
serviceName: dctm-rest

customLabels:
  app: dctm-rest

containerName: rest-container

#deployment
replicaCount: 1
strategyType: RollingUpdate
image:
  # image artifactory details. This would be changed to image artifactory in the next release.
  repository:
  # The image name in the artifactory.
  name:
  tag:
  pullPolicy:
  pullSecrets:
  
tomcat:
  connectionTimeout:   #Time that the server will wait for an incoming connection to be established before terminating the request in tomcat server
  maxHttpHeaderSize:   #Max HTTP header size
  maxThreads:  # Max number of threads in the pool
  keepAliveTimeout:   # Keep-alive timeout in milliseconds
  acceptCount:  #Max queued connections in the pool in tomcat
  
serviceAccount:
  createServiceAccount:
  serviceAccountName:

restInitContainers:
  name: rest-init-container
  repository:
  imageName: bpdockerhub/ot-dctm-rest
  imageTag: 25.2
  imagePullPolicy:
# init container image details.
extraInitContainers:
  name: rest-custom
  repository:
  imageName:
  imageTag:
  imagePullPolicy: Always
  volumeMounts:
    # should not be modified by ct
    name: custom-script-pvc
    # this should be created in init container docker file and init container startup script should copy the customization files from init container image to this mount path.
    mountPath: /opt/customscriptpvc
    # should not be modified by ct
    subPath: initcontainercustomscripts/dctm-rest-custom
rest:
  useCommonPVC:
  # The common pvc name
  commonPVCname:
#service Type for dctm-rest service
serviceType:
#Service port for dctm-rest service
servicePort: 

internalTlsEnable:

#configmap
existingConfigMap:

configurationFiles:

extraConfigMountPath: /home/dmadmin/ext-conf

#resources
resources:
  limits:
    cpu: 1500m
    memory: 4Gi
  requests:
    cpu: 800m
    memory: 2Gi

#cs secrets
content_server:
  secretName: <sname>cs-secret-config

#certificate
docbroker:
  useCertificate:
  dbrServiceName:
  pvcCertSubPath: certificate/certdbr-data-pvc

#logging
log4j:
  rootLogLevel: INFO
  restLogLevel: INFO
  dfcLogLevel: INFO
  formatMsgNoLookups: true
  monitorInterval: 30

graylog:
  enabled:
  tags: '["linux", "apache"]'
  serviceToken:
  logsDir: /home/dmadmin/logs

#monitor
newrelic:
  enabled:
  configurationFile: newrelic.yml
  addNodeNamePrefix: false
  proxy_host:
  proxy_port:
  proxy_protocol:
  app_name: DOCUMENTUM-CORE-REST-SERVICES-<sname>

livenessProbe:
  enabled: true
  scheme: HTTP
  probeUrl: /dctm-rest/services
  initialDelaySeconds: 40
  periodSeconds: 5

acsService:
  serviceName:
  servicePort:

otds:
    enable:
    #the otds service should be in the format https://<OTDS server url>:<port>/otdsws
    url:
    clientID: 

single_helm:
  enable: true

custom:
  useInitContainers: false
  # customers should not change the name.
  scriptPVCname: custom-script-pvc
  PVCSubPath: dctm-rest-custom
  pvcSize: 1Gi
  pvcAccessModes: ReadWriteMany
  storageClass:
  existVolumePv:

#Customers can add their own java options below
java:
  #adding dev/./urandom parameter by default to improve the application performance wrt to random number generation
  javaOptions: -Djava.security.egd=file:/dev/./urandom

#Time zone configuration
timeZone:
  enable: false
  value: Etc/UTC
vault:
  enable:
  vaultConfigmap: dctm-vault-configmap
  vault_config_mount_path: /opt/dctm_docker/vault_config
  PVCName: dsis-binary-pvc
  binary_volume_mount_path: /opt/dctm_docker/dsis_binary_volume/dsis
  statusCheckRetryCount: 20
  # seconds
  statusCheckTimeInterval: 1
serviceAnnotations: {}