{{- if eq .Values.ingressClass "gce" }}
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: {{ .Values.userName }}-backend
spec:
  sessionAffinity:
    affinityType: "GENERATED_COOKIE"
    affinityCookieTtlSec: 50
  timeoutSec: {{ .Values.timeoutSec }}
  connectionDraining:
    drainingTimeoutSec: {{ .Values.drainingTimeoutSec }}
  logging:
    enable: false
    sampleRate: 0.5
{{- end }}  