apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.userName }}-log4j2-xml
  {{- template "configMap.labels" . }}
data:
  log4j2.xml: |-
    <?xml version="1.0" encoding="UTF-8"?>
      <Configuration status="error" monitorInterval="5">
       <Appenders>
         <Console name="Console" target="SYSTEM_OUT">
           <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
         </Console>
         <RollingFile name="RollingFile" fileName="/opt/tomcat/logs/D2ControlledPrint.log" filePattern="/opt/tomcat/logs/D2ControlledPrint.log.%1">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
          <Policies>
            <SizeBasedTriggeringPolicy size="5 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="10"/>
          </RollingFile>
       </Appenders>
       <Loggers>
            <Logger name="com.emc.cdfd2plugins" level="{{ .Values.log4j2.printServerLogLevel }}" additivity="false">
                <AppenderRef ref="Console"/>
                <AppenderRef ref="RollingFile"/>
            </Logger>
            <Logger name="com.documentum.ls" level="{{ .Values.log4j2.printServerLogLevel }}" additivity="false">
                <AppenderRef ref="Console"/>
                <AppenderRef ref="RollingFile"/>
            </Logger>
            <Logger name="com.documentum.utils" level="{{ .Values.log4j2.printServerLogLevel }}" additivity="false">
                <AppenderRef ref="Console"/>
                <AppenderRef ref="RollingFile"/>
            </Logger>
            <Logger name="com.documentum.services" level="{{ .Values.log4j2.printServerLogLevel }}" additivity="false">
                <AppenderRef ref="Console"/>
                <AppenderRef ref="RollingFile"/>
            </Logger>            
          <!-- Change the following level to "debug" to save temporary files creating during print processing --> 
            <Logger name="com.documentum.services.print.PrintFileDownloader.DoNotDeleteTempFiles" level="{{ .Values.log4j2.printServerLogLevel }}" additivity="false">
              <AppenderRef ref="RollingFile"/>
          </Logger>
          <Root level="{{ .Values.log4j2.rootLogLevel }}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
          </Root>
       </Loggers>
      </Configuration>