name: Deploy on commit

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          cd /opt/myapp
          git fetch --all
          git reset --hard origin/main
          echo "Deploy completed on $(hostname)"
          export REL_PATH=/eks/git/actions-runner/_work/dm25/dm25/documentum-25.4/documentum
          helm upgrade --install dm25.4 $REL_PATH --values $REL_PATH/config/configuration.yml --values $REL_PATH/config/constants.yaml --values $REL_PATH/dockerimages-values.yaml --values $REL_PATH/documentum-resources-values-small.yaml -n dm25  --debug



